<h1>Workers</h1>
<table>
  <tr>
    <th>host</th>
    <th>status</th>
  </tr>
  <% @workers.each do | worker | %>
  <tr>
    <td> <%= worker[:host] %></td>
    <td> <%= worker[:status] %></td>
  </tr>
  <% end  %>
</table>

<h2>Add Worker</h2>
<form action="/register_worker" method="post">
  <input type="text", name="worker_data" />
  <input type="submit" value="Add" />
</form>